/* font-family: 'Quicksand', sans-serif;
Light 300 
Regular 400 
Medium 500 
   font-family: 'Train One', cursive;
Regular 400 */

/* GLOBALS */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: context-menu;
}

htlm,
body {
    height: 100%;
    background-color: #ffffff;
    color: #37373f;
    font-family: 'Quicksand 400', sans-serif;
}

main {
    margin: 4em auto auto 15em;
    padding: 1em;
}

.page {
    display: flex;
    height: 100%;
}

/* TOP NAV-BAR */


.top-nav {
    position: fixed;
    width: 100%;
    background-color: #37373f;
    padding: 1em;
    z-index: 9999;
}

.left-side {
    margin: auto 1em;
}

.profile {
    height: 2.7em;
    border-radius: 100%;
    margin-right: 1em;
}

.search-box {
    transform: (-50%, -50%);
    background: #fbfbfb;
    height: 40px;
    border-radius: 50px;
    float: right;
    opacity: 0.7;
}

.search-btn {
    background-color: #fbfbfb;
    color: #d3524c;
    border: none;
    padding: 0 15px 0 10px;
    border-radius: 50%;
}

.search-bar {
    border: none;
    background: none;
    outline: none;
    color: #1e212d;
    line-height: 40px;
    width: 0;
    transition: 0.5s;
}

.search-box:hover>.search-bar {
    width: 200px;
    padding: 0 6px;
    margin-left: 20px;
}

.right-side {
    margin: auto 1em;
    color: #fbfbfb;
}

.nav-icons {
    margin: auto 0.8em;
    font-size: 1em;
}

.nav-icons:hover {
    color: #ffdfd0;
}


/* SIDE NAV-BAR */


.side-nav {
    position: fixed;
    z-index: 2;
    height: 100%;
    padding: 7em 1.5em 1.5em 1.5em;
    background-color: #ffdfd0;   
}

.filter-btn {
    text-align: left;
    margin: 0.5em;
    border-radius: 25px !important;
}

.filter-btn:hover {
    border-radius: 25px;
    background-color: #37373f;
    color: #fbfbfb;
    opacity: 0.9;
}

.filter-btn:focus {
    border-radius: 25px;
    background-color: #37373f;
    color: #fbfbfb;
    opacity: 0.9;
}

/* COLUMNS */

#title {
    font-family: 'Train One', cursive;
    font-size: 3.5em;
    font-weight: bold;
    margin: 1em auto;
}

.section-title {
    margin-bottom: 1.2em;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
}

.tasks-count {
    background: #ebecf0;
    padding: 0.2em 0.5em;
    font-size: 0.8em;
    border-radius: 100%;
}

.columns-container {
    display: flex;
}

.column {
    width: 22em;
    border-radius: 15px;
    padding: 2em;
    margin: 1.5em;
    background: #ffffff;
    /* background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 0.7), 
    rgba(255, 255, 255, 0.3)
    ); - try other style -  */
    box-shadow: 1px 2px 3px 2px rgba(9, 30, 66, 0.25);
}


/* TASK-CARDS */

.tasks {
    overflow: auto;
    height: 100%;
}

.task {
    width: 18em;
    background: #ffffff;
    padding: 1em;
    margin-bottom: 1em; 
    border-radius: 15px;
    border: solid 2px #ebecf0;
    box-shadow: 0px 1px 2px 1px rgba(9, 30, 66, 0.25);
}

.task:hover {
    background-color: #ebecf0;
}

.top-side-task,
.task-details {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
}

.task-details {
    margin: 1em auto auto auto;
}

.task-status {
    display: flex;
}

.task-status div {
    margin-right: 1em;
    font-size: 0.9em;
}

.task-status div:last-child {
    margin-right: 0;
}

.task:empty:before {
    color: black;
    content: "All clear!!";
    font-weight: bold;
    line-height: 1em;
    opacity: 0.6;
    text-align: center;
}

.task-code {
    font-weight: bold;
}

/* BUTTONS - ICONS */

.top-side-task .delete-btn {
    color: #e9494a;
}

.task-status .task-type {
    color: #57a55a;
}

.task-status .task-priority {
    color: #e9494a;
}




